.btn1{
  background: #6911AD;
border-radius: 7px;
border: none;
font-family: 'Proxima Nova';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
text-align: center;
padding: 12px 21px;
color: #FFFFFF;
};

.btn1:hover{
  background: #56215f;
}